@import "mainStyle.css";

.main {
    margin: 0 auto;
    max-width: 570px;
    background-color: darkgrey;
    height: 35px;
}
@media (max-width: 569px) {
    .main {
        /*max-width: 100%;*/
    }
}
