
.main {
    margin: 0 auto;
    max-width: 570px;
    border: 2px solid lightgrey;
    padding: 5px 5px 0;
    border-radius: 10px;
    align-content: center;
    vertical-align: center;
}

.todo {
    display: flex;
    margin: 0;
    padding: 5px 0;
}
.card{
    display: flex;
    justify-content: space-between;
}
.card-p{
    display: flex;
    justify-content: start;
    width: 100%;
}
.filters, .subFilters{
    display: flex;
    justify-content: space-between;
}
.filters{
    padding: 0 5px;
}
.subFilters div{
    margin: 0 10px;
    /*border: 1px solid orange;*/
}
.subFilters div p{
    padding: 2px;
    border-radius: 5px;
    border: 2px solid transparent;
    /*line-height: 1;*/
}
.filters p{
    padding: 4px;
}

 .subFilters div p:hover{
    border: 2px solid rgba(242, 120, 75, .2);
}

p, .card-p{
    cursor: pointer;
}
.clear:hover{
    padding-bottom: 0;
    border-bottom: 2px solid rgba(0,0,0,.2);
}
.clearActive{
    border: 2px solid rgba(242, 120, 75, .2);
}
/*.hide {*/
/*    display: none;*/
/*}*/

@media (max-width: 550px) {
    .main{
        margin: 10px;
    }
    .subFilters, .filters{
        line-height: 1px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
}
