@import "mainStyle.css";

.main {
    margin: 0 auto;
    max-width: 570px;
    border: 2px solid lightgrey;
    padding: 5px;
    border-radius: 10px;
    align-content: center;
    vertical-align: center;
}

.todo {
    display: flex;
    margin: 0;
    padding: 0;
}



